@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh
}

.container {
  position: relative;
  width: 100%;
  margin: 50px;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  display: grid;
  grid-template-columns:1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side {
  position: relative;
  background: #243A73;
  padding: 20px 8px 8px 8px;
}

.profiletext {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2)
}

.profiletext .imgbx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profiletext .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profiletext h2 {
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align:center;
  font-weight: 600;
  line-height: 1.4em;
}
.profiletext h2 span {
  font-size: 0.8em;
  font-weight: 300;
}
.contactinfo{
  padding-top: 40px;
  padding-left: 20px;
}
.title{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contactinfo ul {
  position: relative;

}
.contactinfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.contactinfo ul li .icon {
display: inline-block;
width: 30px;
font-size: 18px;
color: #03a9f4;
}
.contactinfo ul li span{
  color: #fff;
font-weight: 300;
}
 .contactinfo .education li {
  margin-bottom: 15px;
 }
 .tag1 {
   color: #03a9f4;
   font-weight: 500;
 }
 .tag2{
   color: #fff;
   font-weight: 500;
 }
 .tag3{
   color: #97C4B8;
   font-family: "Sofia", sans-serif
 }
.language{
  padding:30px;
}
 .contactinfo.language .percent{
   position: relative;
   width: 100%;
   height: 6px;
   background: #081921;
   display: block;
   margin-top: 5px;
 }
 .contactinfo.language div {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background-color : #97C4B8;
 }
a {
   color: #0060B6;
   text-decoration: none;
}

a:hover {
   color:#00A0C6;
   text-decoration:none;
   cursor:pointer;
}
em{
 position: absolute;
 right: 0;
 width: 100px;
 height: 120px;
 color: #BDE6F1;
}



.container .right_side {
  position: relative;
  background: #fff;
  padding: 40px;
}

.title2 {
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.about :last-child {
  margin-bottom: 10px;
}
p {
  color: #333;
}
.btn{
  position: absolute;
  display: inline-block;
  right: 180px;
  background-image: linear-gradient(45deg, #4B8673, #243A73);
  border-radius: 6px;
  padding: 2px;
  margin: 2px;
  font-family: 'Gentium Plus', serif;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94,28,68,0.1);

}
.Date{
  font-size: 12px;
  font-weight: 350;
}
.proj {font-size: 15px;
font-weight: 400;

}
.date1{
  font-weight: bold;
  color: #0060B6;

}
.certi{
  display:inline-block;
}
.percent{
  position: relative;
  width: 100%;
  height: 10px;
  background: #DDDDDD;
  display: block;
  margin-top: 5px;
}
.divpercent{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color : #4B8673;
}
.box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.skill1 {
  min-width: 200px;
  font-weight: 600;
}
.list{
  display: inline-block;
  margin: 0 10px;
  color: #5584AC;
}
@media ( max-width: 1000px)
{
  .container{
  margin: 10px;
  grid-template-columns: repeat(1,1fr);
}
}
